
.fontello-icon-cog:before { content: '\e800'; } /* '' */
.fontello-icon-github-circled:before { content: '\e801'; } /* '' */
.fontello-icon-twitter:before { content: '\e802'; } /* '' */
.fontello-icon-globe:before { content: '\e803'; } /* '' */
.fontello-icon-document:before { content: '\e804'; } /* '' */
.fontello-icon-file:before { content: '\e805'; } /* '' */
.fontello-icon-image:before { content: '\e806'; } /* '' */
.fontello-icon-event:before { content: '\e807'; } /* '' */
.fontello-icon-folder:before { content: '\e808'; } /* '' */
.fontello-icon-link:before { content: '\e809'; } /* '' */
.fontello-icon-news-item:before { content: '\e80b'; } /* '' */
.fontello-icon-collection:before { content: '\e80c'; } /* '' */