//
// Main
// --------------------------------------------------
//
// Combining custom bootstrap and partials to one file.

// Font path
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

// Set asset path
$bootstrap-sass-asset-helper: "bootstrap-sass-official/assets/";

// Custom bootstrap.
@import "custom_bootstrap/variables";
@import "custom_bootstrap/bootstrap";

// Fontawesome.
$fa-font-path:        "fontawesome/fonts" !default;
@import "../bower_components/fontawesome/scss/font-awesome.scss";

// Carousel
@import 'partials/carousel';

// Layout, positioning and floats.
@import 'partials/layout';

// Header and footer styling.
@import 'partials/header';
@import 'partials/footer';

// Form styling.
@import 'partials/forms';

// Components are project specific building blocks.
@import 'partials/components';

// Page specific styling.
@import 'partials/pages';

// Page specific styling.
@import 'partials/plone_edit_form';

// Portlet specific styling.
@import 'partials/portlets';
