 diazo_resources/static/editor.css -diff
diazo_resources/static/editor.css.map -diff
diazo_resources/static/main.css -diff
diazo_resources/static/main.css.map -diff
diazo_resources/static/main.js -diff