ploneorg/theme/diazo_resources/static/editor.css -diff
ploneorg/theme/diazo_resources/static/editor.css.map -diff
ploneorg/theme/diazo_resources/static/main.css -diff
ploneorg/theme/diazo_resources/static/main.css.map -diff
ploneorg/theme/diazo_resources/static/main.js -diff
ploneorg/theme/diazo_resources/static/barceloneta.css -diff
ploneorg/theme/diazo_resources/static/barceloneta.css.map -diff
