/**** Contenidor global CROSS-BAR ****/

#topbarcontainer {
  min-height: 40px;
  margin-bottom: 0;
  border: none;
}

/************************************/

#plone-global-topbar-wrapper {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #101010));
  background: -webkit-linear-gradient(top, #333333 0%, #101010 100%);
  background: -o-linear-gradient(top, #333333 0%, #101010 100%);
  background: -ms-linear-gradient(top, #333333 0%, #101010 100%);
  background: linear-gradient(to bottom, #333333 0%, #101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#101010', GradientType=0);
}

#plone-global-topbar-wrapper {
  /* Main links */

  /* caixa desplegada */

  /* Logo */

  /* Paisos */

  /* Search */

  /* TO OVERRIDE GOOGLE SEARCH ( TEMPORAL ) */

  /*.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
        height: auro!important;
        margin-top: 2px;
        min-width: 13px;
        padding: 3px 17px!important;
        width: 13px;
    }
    .gsib_a {
        padding: 2px 10px !important;
    }
    table.gsc-search-box {
        margin-bottom: 0px!important;
    }
    input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
        background-color: #666!important;
        border-color: #888!important;
    }
    input.gsc-input {
        border: no!important;
        font-size: 11px!important;
        padding: 2px 0px!important;
        width: 99%!important;
        background-color: transparent!important;
        color: #666;
    }
    table.gsc-search-box td {
        vertical-align: top!important;
    }
    .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
        margin-top: 0px !important;
    }
    .gsc-search-box-tools .gsc-search-box .gsc-input {
        padding-right: 5px !important;
    }
    .gsst_a .gscb_a {
        color: #ccc!important;
    }*/

}

#plone-global-topbar-wrapper #plone-global-topbar-iframe {
  min-height: 40px;
  padding: 4px 20px 5px 20px;
}

#plone-global-topbar-wrapper .mostrar_mobile {
  display: block !important;
}

#plone-global-topbar-wrapper #plone-global-topbar-mainlinks {
  float: right;
  width: 60%;
  margin-top: 0;
}

#plone-global-topbar-wrapper #plone-global-topbar-mainlinks .separador {
  width: 2px;
  height: 25px;
  margin-left: 5px;
  background-color: #101010;
  border-left: 1px solid #3d3d3d;
}

#plone-global-topbar-wrapper #plone-global-topbar-mainlinks ul {
  float: right;
  padding-right: 15px;
  margin: 0;
  list-style: none outside none;
}

#plone-global-topbar-wrapper #plone-global-topbar-mainlinks li {
  float: left;
  padding: 0 0px 0px 0px;
}

#plone-global-topbar-wrapper #links-select li:hover a {
  color: #FFFFFF;
}

#plone-global-topbar-wrapper #links-select li a {
  display: block;
  padding: 4px 1em;
  font-family: 'DINRegular';
  font-size: 12px;
  font-weight: normal;
  color: #bbbbbb;
  text-decoration: none;
}

#plone-global-topbar-wrapper #links-select li:hover > .caixa-desplegada {
  position: absolute;
  display: inline-block;
}

#plone-global-topbar-wrapper .caixa-desplegada {
  position: absolute;
  z-index: 1000;
  display: none;
  padding: 30px;
  background: #3d3d3d;
  background: -moz-linear-gradient(top, #3d3d3d 0%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #3d3d3d 0%, #444444 100%);
  background: -o-linear-gradient(top, #3d3d3d 0%, #444444 100%);
  background: -ms-linear-gradient(top, #3d3d3d 0%, #444444 100%);
  background: linear-gradient(to bottom, #3d3d3d 0%, #444444 100%);
  border-radius: 0 5px 5px 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#444444', GradientType=0);
}

#plone-global-topbar-wrapper .caixa-desplegada h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'DINLight';
  font-size: 1.5em;
  font-weight: normal;
  color: #fff;
}

#plone-global-topbar-wrapper .caixa-desplegada hr {
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #666;
  background-color: #666;
  border: 0;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada {
  position: relative;
  display: inline-block;
  float: left;
  width: auto;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada h5 {
  padding-left: 10px;
  margin-top: 1.67em;
  margin-bottom: 5px;
  font-family: 'DINLight';
  font-size: 0.83em;
  font-weight: normal;
  color: #999;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada ul {
  display: inline-block !important;
  padding: 0 !important;
  border-right: none!important;
  border-radius: 0 0 0 0;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada ul li {
  position: relative;
  float: none !important;
  text-align: left;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada ul li a {
  display: block;
  padding: 10px 40px 10px 10px !important;
  font-family: 'DINBold';
  font-size: 0.8em !important;
  font-weight: normal;
}

#plone-global-topbar-wrapper .columnna-caixa-desplegada ul li a:hover {
  background: #3d3d3d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #3d3d3d 0%, #323232 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #323232));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #3d3d3d 0%, #323232 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #3d3d3d 0%, #323232 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #3d3d3d 0%, #323232 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #3d3d3d 0%, #323232 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#323232', GradientType=0);
  /* IE6-9 */

}

#plone-global-topbar-wrapper #plone-global-topbar-logo {
  float: left;
  width: 10%;
}

#plone-global-topbar-wrapper #plone-global-topbar-logo img {
  height: 20px;
  margin-top: 2px;
}

#plone-global-topbar-wrapper #plone-global-topbar-logo {
  display: none;
}

#plone-global-topbar-wrapper #plone-global-topbar-sites {
  margin-top: 4px;
}

#plone-global-topbar-wrapper #sites-select {
  position: absolute;
  margin-top: 1px;
}

#plone-global-topbar-wrapper #sites-select ul {
  background-color: #333333 !important;
  border: 1px solid #414141;
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
}

#plone-global-topbar-wrapper #sites-select ul li {
  float: left;
}

#plone-global-topbar-wrapper #sites-select ul li a {
  display: block;
  padding: 1px 30px 1px 15px;
  font-family: 'DINRegular';
  font-size: 13px;
  font-weight: normal;
  color: #999;
  text-decoration: none;
  background: url("../img/arrow.png") no-repeat scroll 95% 8px;
}

#plone-global-topbar-wrapper #sites-select ul li:hover {
  background: no;
}

#plone-global-topbar-wrapper #sites-select ul li:hover a {
  color: #FFFFFF;
}

#plone-global-topbar-wrapper #sites-select ul li:hover > ul {
  display: block;
}

#plone-global-topbar-wrapper #sites-select ul ul {
  position: relative;
  z-index: 10000;
  display: none;
  padding: 15px 0;
  border: none;
}

#plone-global-topbar-wrapper #sites-select ul ul li {
  position: relative;
  display: list-item;
  float: none;
}

#plone-global-topbar-wrapper #sites-select ul ul li a {
  padding: 6px 30px;
  color: #FFFFFF;
  background-image: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#plone-global-topbar-wrapper #sites-select ul ul li a:hover {
  background: #202020;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #414141;
}

#plone-global-topbar-wrapper #sites-select ul:after {
  display: block;
  clear: both;
  content: "";
}

#plone-global-topbar-wrapper #search {
  margin: 0;
}

#plone-global-topbar-wrapper #plone-global-topbar-searchbox {
  float: right;
  width: 15%;
}

#plone-global-topbar-wrapper .gsc-search-box .gsc-input > input:focus,
#plone-global-topbar-wrapper .gsc-input-box-focus,
#plone-global-topbar-wrapper .gsc-search-box .gsc-input > input:hover,
#plone-global-topbar-wrapper .gsc-input-box-hover {
  font-size: 13px;
  border: 0;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: inset none !important;
}

#plone-global-topbar-wrapper .cse .gsc-control-cse,
#plone-global-topbar-wrapper .gsc-control-cse {
  background-color: transparent!important;
  border: 1px solid transparent!important;
}

#plone-global-topbar-wrapper .gsc-input-box {
  height: 22px !important;
  padding-top: 2px;
  background: #333333 url("../img/lupa.png") no-repeat scroll 97% 2px !important;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #414141;
  border-radius: 10px;
}

#plone-global-topbar-wrapper input.gsc-input {
  height: auto !important;
  padding-left: 15px !important;
  font-family: 'DINRegular';
  font-size: 13px;
  color: #bbbbbb;
  background: transparent !important;
}

#plone-global-topbar-wrapper .gsst_a .gscb_a {
  color: #bbbbbb;
  cursor: pointer;
}

#plone-global-topbar-wrapper .gscb_a {
  padding: 3px 5px 1px 5px;
  font: 20px/13px arial, sans-serif;
  background: #333333;
}

#plone-global-topbar-wrapper .gsst_b {
  padding: 0 4px !important;
}

#plone-global-topbar-wrapper .gsc-search-button {
  display: none;
}

#plone-global-topbar-wrapper form.gsc-search-box {
  margin: 0 !important;
}

#plone-global-topbar-wrapper #display_mobile {
  display: none;
}

@media only screen and (max-width: 980px) {
  #plone-global-topbar-wrapper #plone-global-topbar-iframe {
    height: 40px;
    padding: 5px 20px 5px 20px;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-logo {
    width: 100%;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-logo img {
    height: 30px;
    padding-top: 4px;
    margin-top: 0;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-logo a {
    padding: 6px 30px 6px 30px;
    margin-top: 4px;
    font-family: 'DINBold';
    font-size: 0.9em;
    color: #999;
    text-decoration: none;
    background-color: #444!important;
    border: 1px solid #575757;
    border-radius: 5px 5px 5px 5px;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-logo a:hover {
    color: #fff;
    background-color: #333!important;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-sites {
    display: none;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-searchbox {
    display: none;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-mainlinks {
    display: none;
    float: left;
    width: 100%;
  }
  #plone-global-topbar-wrapper #display_mobile {
    display: block;
    float: right;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-mainlinks li {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
  }
  #plone-global-topbar-wrapper #plone-global-topbar-mainlinks ul {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: none;
  }
  #plone-global-topbar-wrapper .caixa-desplegada {
    float: left;
    width: 90%;
    padding: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    background: none;
  }
  #plone-global-topbar-wrapper .caixa-desplegada h2 {
    display: none;
  }
  #plone-global-topbar-wrapper .caixa-desplegada hr {
    display: none;
  }
  #plone-global-topbar-wrapper .columnna-caixa-desplegada {
    width: 100%;
    padding: 15px 0 0px 0px !important;
    border-bottom: 1px solid #575757;
  }
  #plone-global-topbar-wrapper .columnna-caixa-desplegada h5 {
    margin-top: 0;
  }
  #plone-global-topbar-wrapper .columnna-caixa-desplegada ul {
    margin-top: 0 !important;
  }
  #plone-global-topbar-wrapper .columnna-caixa-desplegada ul li a {
    padding: 5px 40px 5px 10px !important;
  }
  #plone-global-topbar-wrapper #links-select li:hover > .caixa-desplegada {
    position: relative;
    display: inline-block;
  }
}

.gssb_c {
  top: 40px !important;
  right: 0 !important;
  left: inherit !important;
  width: 30% !important;
  color: #bbbbbb;
}

.gssb_e {
  border-radius: 0 0 5px 5px;
}

.gsc-completion-container {
  background-color: #101010 !important;
  border: none !important;
  border-radius: 0 0 5px 5px;
}

.gsc-completion-selected {
  color: #101010;
}

.gsc-completion-container table {
  font-size: 13px !important;
}

.gssb_a,
.gssb_a td {
  padding-bottom: 1px !important;
}

.gsc-results-wrapper-visible .gsc-wrapper {
  padding: 20px !important;
}

.gsc-results-wrapper-visible .gsc-above-wrapper-area {
  padding: 10px !important ;
  margin-bottom: 40px !important;
  background-color: #101010;
}

.gsc-result-info,
.gsc-orderby-label {
  color: #bbbbbb !important;
}

.gsc-inline-block {
  margin-left: 5px !important;
}