//
// Main
// --------------------------------------------------
//
// Combine custom bootstrap and partials into one file.

//
// Fonts
//

// TODO: Load only the used fonts.
// At the moment we load to many fonts.
$roboto-font-path: 'roboto' !default;
@import "../bower_components/roboto-fontface/css/roboto-fontface.scss";

// TODO: We also might enjoy the benefits of a CDN.
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700,700italic,500italic,500,400italic,300italic,300,100italic,100&subset=latin,latin-ext);


// Set asset path
$bootstrap-sass-asset-helper: "bootstrap-sass-official/assets/";

// Custom Bootstrap.
@import "custom_bootstrap/variables";
@import "custom_bootstrap/bootstrap";

// Fontawesome.
$fa-font-path:        "fontawesome/fonts" !default;
@import "../bower_components/fontawesome/scss/font-awesome.scss";

// Layout, positioning and floats.
@import 'partials/layout';

// Header and footer styling.
@import 'partials/header';
@import 'partials/footer';

// Form styling.
@import 'partials/forms';

// Components are project specific building blocks.
@import 'partials/components';

// Page specific styling.
@import 'partials/pages';

// Plone edit form.
// @import 'partials/plone_edit_form';

// Plone styling
@import 'partials/plone';

// Featerlight lightbox
// @import '../bower_components/featherlight/src/featherlight.css';
// @import 'partials/featerlight';

input#searchGadget {
  float: left;
  width: 80%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #6b808c;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

input.searchButton {
    background-color: #ff3600;
    border-color: #ff3600;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    float: left;
    margin-left: -1%;
    width: 20%;
}

.searchSection label::first-letter {
  text-transform: capitalize;
}

.section-get-started .image .fa {
  background-color: #3093C7;
  color: white;
  font-size: 3.5em;
  padding: 0.3em;
  border-radius: 50%;
  &.fa-graduation-cap {
    padding: 0.3em 0.2em;
  }
  &.fa-download {
    padding: 0.25em 0.3em;
  }
}

.sec-community article, sec-foundation article {
  min-height: 18em;
}

.well {
  text-align: center;
}
.jumbotron.sec-profile .text {
  margin-left: 210px;
}
section.sec-community ul, section.sec-foundation ul {
  padding-left: 1.2em;
}

.plone-breadcrumb {margin-top: 0px !important;}

.portletStaticText ul {
  font-size: 14px;
  font-weight: 400;
  li {
    color: #6b808c;
    margin: 0;
    padding: 10px 15px;
    list-style: inside disc;
  }
}

.sec-sponsors-home .about, .sec-events .about {
  margin-top: 0px;
}

.portlet-collection-news-archives ul {
  list-style: none;
}

ul.livesearch-results {
  width: 99% !important;
}

.subsection-badges .newsImageContainer {
  box-shadow: none;
  border-radius: 0px;
}

[class*="subsection-badges-"] .newsImageContainer a img {
  width: 300px;
}

.sec-get-started article .text {
    padding-left: 6%;
}

.contributor-badges .col-md-2:first-child {
  padding-left: 0px;
}


// There is a special view for the first level folder summary view which gets set here and unset below in subsections
.template-summary_view[class*="section-"] {
  article.tileItem {
    width: 30%;
    height: 18em;
    float: left;
    margin-right: 3%;
    margin-bottom: 2em;
  }
}
// Unset the special view above
.template-summary_view[class*="subsection-"] {
  article.tileItem {
    width: inherit;
    height: inherit;
    float: inherit;
    margin-right: inherit;
    margin-bottom: inherit;
  }
}

.subsection-badges .isotope-filter {
  width: 9em;
}

// Have to use important due to cascading
#isotope-grid .horizontal {
  border: none !important;
  background-color: transparent !important;
}

.isotope-filter label {
  position: absolute;
  left: -999em;
}

#parent-fieldname-text {
  dt {
    margin-top: 1em;
  }
  dd {
    margin-left: 1em;
  }
}

.template-homepage .sec-events {
  .panel-body {
      min-height: 10em;
  }
}

.template-homepage  .sec-sponsors-home .column {
  padding: 9px;
  min-height: 16em
}

@media (max-width: 1000px) {
  .template-homepage .sec-events  {
    width: 66.666%;
  }
}

@media (max-width: 480px) {

  input#searchGadget {
    width: 68%;
  }

  input.searchButton {
    width: 32%;
  }

  .template-homepage .sec-events .event {
    width: 100%;
  }
}
