
.hiddenStructure {.sr-only}

/* Form elements */
.discreet {
    color: @gray-light;
    }
.formHelp {
    font-style: italic;
    color: @gray-light;
    }
.formControls  {
    margin-top:30px;
    }
.field  {
    margin-top:15px;
    margin-bottom:15px;
    }

.listing:extend(.table all) {}

// I keep every extension separeted to show each element
[type="text"]:extend(.form-control all),
[type="password"]:extend(.form-control all),
.textType:extend(.form-control all),
.passwordType:extend(.form-control all),
select:extend(.form-control all),
textarea:extend(.form-control all) {font-size:100%;}


button:extend(.btn all),
[type="submit"]:extend(.btn all),
.context:extend(.btn all),
.standalone:extend(.btn all) { }
.context:extend(.btn-primary all) { }


/* help classes */
.visualClear:extend(.clearfix all) {}

// Tabs
.formTabs {
    &:extend(.nav all);
    &:extend(.nav-pills all);
}

// Buttons

.standalone, input[value^="Cancel"], [type="submit"] {
  &:extend(.btn);
}

.context {
    &:extend(.btn);
    &:extend(.btn-primary);
}

// Tables
.listing {
    &:extend(.table all);
    &:extend(.table-condensed all);
    &:extend(.table-striped all);
    &:extend(.table-hover all);
    &:extend(.table-bordered all);
}

// Portal Messages
.portalMessage {
    &:extend(.alert all);
    &.info {&:extend(.alert-info all);}
    //&.warning  {@extend .alert-warning;}
    &.error {&:extend(.alert-danger all);}
    & dt, & dd {margin:0; display:inline;}
}

// Internal menus
#portlet-prefs {
    border:0;
    .portletHeader {
        display:none;
    }
    & dd {
        margin:0;
    }
}
.configlets {
    &:extend(.nav all);
    &:extend(.nav-tabs all);
    &:extend(.nav-stacked all);
    & img {float:right;}
}

// Pagination
.listingBar {&:extend(.pagination);}
.listingBar li:only-child{ display:none !important;}

// Content action menus icons
// .icon-delete {&:extend(.fa-icon-remove);}

// .icon-folder_summary_view {&:extend(.icon-resume-view);}
// .icon-folder_full_view {&:extend(.icon-content-view);}
// .icon-folder_tabular_view {&:extend(.icon-table-view);}
// .icon-atct_album_view {&:extend(.icon-th);}
// .icon-folder_listing {&:extend(.icon-list-view);}
.subMenuTitle { padding-left: 5px; }

.icon-contextSetDefaultPage {&:extend(.fa-star-o all);}
.icon-folder {&:extend(.fa-folder-o all);}

// .icon-image {&:extend(.icon-picture);}
// .icon-document {&:extend(.icon-page);}
// .icon-event {&:extend(.icon-calendar);}
// .icon-news-item {&:extend(.icon-news);}
// .icon-more {&:extend(.icon-plus);}
// .icon-settings {&:extend(.icon-filter);}
// .icon-formfolder {&:extend(.icon-check);}

// .pb-ajax {
//   display: block;
// }

// .pb-ajax > div {
//     // &:extend(.modal all);
//     padding: 10px;
//     border-radius: 5px;
//     background-color: white;
//     width: 700px;
//     .center-block();
// }

// .pb-ajax .documentFirstHeading, .pb-ajax > div > h2 {
//   &:extend(.modal-header all); margin:0; font-size: 130.769% !important;
// }

// .pb-ajax #content-core, .pb-ajax .documentDescription, .pb-ajax #content-history {
//   &:extend(.modal-body); margin-bottom:0;
//   max-height: 400px;
// }
